<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
    </style>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<%- include ../../partials/navbar %>
<body>
<div>
<div class="container">
  <div class="col-md-6 mx-auto text-center">
	 <div class="header-title">
		<h1 class="wv-heading--title">
		 Display Info
		</h1>
	 </div>
  </div>

   <div class="container mx-auto">
    
    <table class="table table-bordered ">

        <tr>
            <th class="tav">id </th>
            <th class="tav">Name</th>
            <th class="tav">Manager</th>
            <th class="tav">Type</th>
            <th class="tav">Amount</th>
        </tr>
        <% for(var i=0;i< id.length; i++){ %>
            <tr>
                    <td>
                      <%= id[i]%>
                    </td>
                    
                    <td>
                      <%= names[i]%>
                    </td>
                    
                    <td>
                    <%= Manager[i]%>
                    </td> 
                    
                    <td>
                    <%= Type[i]%>
                    </td> 
                    
                    <td>
                    <%= Amount[i]%>
                    </td>
            </tr>
                <% } %>
    </table>



    </div>



  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>

</html>